.topBar {
  height: 0.5rem;
  background-color: var(--primary-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  /* border-bottom: 0.0625rem solid #E1E3EB; */
  /* box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.05); */
}

.title {
  margin: 0;
  font-size: 1.5rem;
  flex-grow: 1;
}

.production__title {
  margin: 0;
}

.state-title {
  margin: 0;
}

.switch {
  padding: 0 0.5rem;
}

.select-prefab {
  width: 10%;
  padding: 0 1rem;
}

.select-state {
  width: 8%;
  padding: 0 1rem;
}
