.options__title {
  padding: 0 2rem;
  font-size: 1.25rem;
}

.option {
  padding: 0 2rem;
  padding-bottom: 4rem;
}

.option__title {
  font-size: 1rem;
}

.option__wrapper {
  margin-top: 0.625rem;
}
