.content {
  display: flex;
  height: calc(100% - (0.5rem + 1.5rem * 2 + 1.5rem * 1.2))
}

.sidebar {
  width: 20rem;
  border-right: 0.0625rem solid #DADDE4;
  box-sizing: border-box;
  overflow: auto;
}

.canvas {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.prefabContainer {
  min-width: 800px;
}
